$widthContainer: 1050px;

.container {
  width: $widthContainer;
  margin-right: auto;
  margin-left: auto;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

//     list-style: none;
@font-face {
  font-family: MyriadPro;
  src: url("../fonts/MyriadPro/myriadpro-regular.ttf");
}

@import "../components/stylesheets/bootstrap/variables";
@import "../components/stylesheets/bootstrap/mixins";
// bootstrap forms
@import "../components/stylesheets/bootstrap/scaffolding";
@import "../components/stylesheets/bootstrap/button-groups";
@import "../components/stylesheets/bootstrap/buttons";
@import "../components/stylesheets/bootstrap/forms";
@import "../components/stylesheets/bootstrap/input-groups";
//breadcrumbs
@import "../components/stylesheets/bootstrap/breadcrumbs";
// carousel
@import "../components/stylesheets/bootstrap/carousel";
@import "../components/stylesheets/bootstrap/navs";

$menuHeight: 60px;
$menuFontSize: 18px;

body > header {
  font-family: Calibri;

  .header-main {
    @extend .container;
    height: 100px;

    .header-logo {
      display: inline-block;
    }
  }

  .header-info {
    $ornamentalBorder: 2px dashed #959595;

    color: #000;
    font-weight: 400;
    float: right;
    margin-top: 24px;
    font-size: 15px;

    &::after {
      display: block;
      content: '';
      clear: both;
    }

    > * {
      width: 170px;
      position: relative;
      float: left;

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 9px;
        left: -18px - 35px;
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
      }

    }

    .left-part {

      margin-right: 90px;
      &::before {
        background-image: url("../images/icons/phone.png");
      }

      > * {
        display: inline-block;
      }

      .city {
        border-bottom: $ornamentalBorder;
        margin-bottom: 5px;
      }

      .phone {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .right-part {

      &::before {
        background-image: url("../images/icons/email.png");
        left: -22px - 28px - 35px;
      }

      > * {
        border-bottom: $ornamentalBorder;
        color: #000000;
        position: relative;
        display: inline-block;
        text-decoration: none;

        &::before {
          display: block;
          content: '';
          position: absolute;
          top: 3px;
          left: -22px - 14px;
          width: 22px;
          height: 22px;
          background-repeat: no-repeat;
        }
      }

      .icon-bucket {
        margin-bottom: 5px;

        &::before {
          background-image: url("../images/icons/basket.png");
        }
      }

      .icon-info {

        &::before {
          background-image: url("../images/icons/info.png");
        }
      }
    }

  }


  .topbar {
    $topbarHeight: $menuHeight;
    $topbarFontSize: $menuFontSize;

    height: $topbarHeight;
    background-color: #0067a3;
    font-family: "MyriadPro";


    .t-menu {
      @extend .container;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      font-size: $topbarFontSize;

      > li {
        display: inline-block;

        a {
          padding: 0 22px;
          display: inline-block;
          line-height: $topbarHeight;
          color: #fff;
          font-weight: 400;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            background-color: #0076bb;
          }
        }
      }

    }
  }
}

.toolbar {
  @extend .container;
  $toolbarVerticalPadding: 14px;

  padding: $toolbarVerticalPadding 0 $toolbarVerticalPadding + 2;

  .breadcrumb{
    margin: -$toolbarVerticalPadding+8px 0 2px 0;
    background-color: transparent;
  }

  .searcher {;
  }
}

.home-top-part {
  @extend .container;
  @extend .clearfix;

  $widthSidebar: 310px;
  $spaceBetweenSidebarAndCarousel: 20px;
  $widthCarousel: $widthContainer - $widthSidebar - $spaceBetweenSidebarAndCarousel;

  $sidebarItemCount: 7;
  $homeTopPartHeight: $sidebarItemCount * $menuHeight;

  height: $homeTopPartHeight;
  margin-bottom: 100px;


  .sidebar {
    $item-width: $widthSidebar;

    width: $item-width;
    height: 100%;
    float: left;
    font-size: $menuFontSize;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .categories {

      .cat-item {
        text-align: center;

        > a {

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }

          display: block;
          width: $item-width;
          line-height: $menuHeight;

          color: #ffffff;

          font-weight: 400;
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      .sub-cat {
        display: none;
        position: absolute;
        left: $item-width;
        top: 0;
        z-index: 1;
      }

      > .cat-item {
        position: relative;

        > a {
          position: relative;
        }

        &.nesting {
          > a {
            &::after {
              content: '>';
              position: absolute;
              right: 16px;
            }
          }
        }

        &:hover .sub-cat {
          display: block;
          background: inherit;
        }

        &:nth-child(1) {
          background: #7d2784;
        }
        &:nth-child(2) {
          background: #ea4397;
        }
        &:nth-child(3) {
          background: #0067a3;
        }
        &:nth-child(4) {
          background: #b1ba1d;
        }
        &:nth-child(5) {
          background: #e8c228;
        }
        &:nth-child(6) {
          background: #b2a97d;
        }
        &:nth-child(7) {
          background: #238192;
        }
      }

    }

  }

  #homeCarousel {
    width: $widthCarousel;
    float: right;
    height: 100%;

    .nav {
      margin: 0;
      height: 54px;
      background: #eee;
      li.active {
        a {
          color: #fff;
        }
      }
      a {
        color: #000;
      }
      a small {
        display: block;
      }
    }

    .nav-justified > li > a {
      border-radius: 0px;
    }
    .nav-pills > li[data-slide-to="0"].active a {
      background-color: #16a085;
    }
    .nav-pills > li[data-slide-to="1"].active a {
      background-color: #e67e22;
    }
    .nav-pills > li[data-slide-to="2"].active a {
      background-color: #2980b9;
    }
    .nav-pills > li[data-slide-to="3"].active a {
      background-color: #8e44ad;
    }
  }

}


.popular-products {

  @extend .container;
  @extend .clearfix;

  $borderWidthPopularProducts: 2px;

  position: relative;
  border: $borderWidthPopularProducts solid rgba(195, 195, 195, 0.46);

  h3{
    text-align: center;
    color: #3b3b3b;
    font-family: Calibri;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;

    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    margin: 0;
  }

  .product{

    width: ($widthContainer - $borderWidthPopularProducts * 2) / 4;
    float: left;
    height: 260px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;

    &:last-child{
      border-right: none;
    }

    .description{

    }

    .image{
      width: 152px;
      height: 128px;
      box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
      margin: 40px auto 20px;
      padding-top: 12px;

      img{
        width: 121px;
        height: 105px;
      }
    }

    p{
      color: #525252;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }

  }



}

// еше разделители
body > footer {
  height: 240px;
  background-image: linear-gradient(to left, #0067a3 0%, #0178be 50%, #0067a3 100%);
  padding-top: 40px;
  margin-top: 66px;

  .widget-area {
    @extend .container;
    @extend .clearfix;

    text-align: center;
    color: #fff;

    .widget {

      width: $widthContainer / 4;
      height: 100%;
      max-height: 160px;
      float: left;
      overflow: hidden;
      position: relative;
      &::after{
        display: block;
        content: '';
        position: absolute;
        background: url("../images/footer-widget-splitter.png");
        width: 1px;
        height: 135px;
        top: 26px;
        right: 0;
      }

      &:last-child::after{content: none;}
    }

    .widget-title {
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
    }

    .widget-text {
      width: 165px;
      font-size: 13px;
      line-height: 16px;
      display: inline-block;
    }
  }
}
